@model IEnumerable<Exemplo02.Models.Continente>

@{
    ViewData["Title"] = "Continentes";
}

<h1 class="text-center">Continentes</h1>

<p class="text-center">
    <a asp-action="Create">Adicionar continente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.continenteID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.continenteID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.continenteID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
